* {
    box-sizing: border-box;
  }
  
html {
    overflow-y: scroll; /* Force vertical scrollbar to be always visible */
}

body {
    margin: 0;
    padding: 0;
}

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 4rem;
    text-align: center;
  }
  
  .nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 4rem;
    padding: 0 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
  }
  
  .site-title {
    font-size: 2.5rem;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .nav li.active {
    text-decoration: underline;
  }
  
  .nav li:hover {
    color: #b4b4b4;
  }
