@import './colors.css';

/* Global styles */
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

body {
  margin: 0;
  padding-top: 4%;
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Container for pages */
.container {
  margin: 3rem auto;
  text-align: center;
}

/* Enlarged image view */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin-top: 80px;
  max-width: 90%;
  max-height: 90%;
}

/* Navigation bar styles */
.nav {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  padding: 1px;
  background-color: var(--navbar-background-color);
  box-shadow: 0px 1px 2px var(--navbar-border-color);
  border: 0px;
  border-style: none none solid none;
  border-color: var(--navbar-border-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  z-index: 1000;


  font-size: 1.5rem;
  font-weight: bold;
}

.site-title {
  font-size: 3rem;
  padding-left: 2rem;
}

.nav ul {
  overflow: hidden;
  margin: auto 1rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  height: fit-content;
  align-self: flex-end;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav li.active {
  text-decoration: underline;
}

.nav button.active img {
  border: solid 2px var(--navbar-border-color);
  border-radius: 50%;
}

.nav li:hover {
  color: var(--navbar-hover-color);
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px var(--navbar-border-color);
  object-fit: cover;
  margin: 0;
  padding: 0;
}

/* Dropdown menu styles */
.dropdown-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 1rem 0 0.5rem 0;
  margin: 0;
  font-size: 1.5rem;
}

.dropdown ul {
  display: block;
}

.dropdown-menu {
  background-color: var(--dropdown-background-color);
  box-shadow: 0px 8px 16px 0px var(--dropdown-shadow-color);
  list-style-type: none;
  border: solid var(--navbar-border-color) 2px;
  display: block;
  right: 2rem;
  position: absolute;
  z-index: 10001;
}

.dropdown-menu,
.dropdown-toggle:hover {
  text-decoration: none;
  color: var(--text-color);
}

.dropdown-menu li {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  display: block;
  position: relative;
}

.dropdown-menu li span {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.462);
}

.dropdown-menu li:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, var(--dropdown-shadow-color), var(--dropdown-divider-color), var(--dropdown-shadow-color));
}

.dropdown-menu li a {
  text-decoration: none;
}

.dropdown-menu li a:hover {
  cursor: pointer;
}

/* Login and register form styles */
.login-container {
  display: block;
  max-width: 400px;
  margin: 4rem auto;
  padding: 1rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.212);
  border-radius: 8px;
  text-align: left;
}

.login-container h1 {
  text-align: center;
  padding: 0;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: var(--button-color);
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-container button:hover:enabled {
  background: var(--button-hover-color);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-group input {
  background-color: white;
  border: 1px solid var(--form-border-color);
  border-radius: 8px;
  padding: 6px;
  width: calc(100% - 10%);
  box-sizing: border-box;
}

.form-group input:focus {
  outline: none;
  border-color: var(--focus-border-color);
  box-shadow: 0 0 8px var(--focus-shadow-color);
}

.required {
  color: var(--error-color);
}

.toggle-password {
  cursor: pointer;
  font-size: 18px;
}

.login-link {
  display: block;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: var(--error-color);
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}


.create-post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-post-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.create-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-post-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}


/* Create post form styles */
.create-post-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-post-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.create-post-error-message {
  color: var(--error-color);
  text-align: center;
  margin-bottom: 10px;
}

.create-post-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.create-post-form .create-post-form-group {
  display: flex;
  flex-direction: column;
}

.create-post-form .description-group {
  grid-column: span 2;
}

.create-post-form label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.create-post-form .create-post-form-control {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  width: 100%;
}

.create-post-form .create-post-form-control:focus {
  border-color: var(--focus-border-color);
}


.create-post-image-preview {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.create-post-image-thumbnail {
  position: relative;
}

.create-post-image-thumbnail img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-post-image-thumbnail button {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.create-post-form .create-post-btn-submit {
  grid-column: span 2;
  font-size: 1rem;
  padding: 10px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  width: 50%;
  justify-self: center;
  position: relative;
  cursor: pointer;
}


.create-post-form .create-post-btn-submit:hover {
  background-color: var(--button-hover-color);
}


/* Edit post form styles */

.cancel-edit-post-button{
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  left: 10px;
  top: 10px;
}

.edit-post-container {
  position: relative;
  background-color: #f9f9f9;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-post-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.edit-post-error-message {
  color: var(--error-color);
  text-align: center;
  margin-bottom: 10px;
}

.edit-post-form {
  display: grid;
  
  gap: 20px;
  position: relative;
}

.edit-post-form .edit-post-form-group {
  display: flex;
  flex-direction: column;
}

.edit-post-form .description-group, textarea{
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;

  grid-column: span 2;
}

.edit-post-form label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

.edit-post-form .edit-post-form-control {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  width: 100%;
}

.edit-post-form .edit-post-form-control:focus {
  border-color: var(--focus-border-color);
}

.edit-post-btn-submit {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  width: 200px;
  margin-left: auto;
}

.edit-post-btn-submit:hover {
  background-color: var(--button-hover-color);
}

.edit-post-btn-delete {
  width: 200px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
}

.edit-post-btn-delete:hover {
  background-color: darkred;
}

/* Home page posts */

.toggle-filter-box, .toggle-filter-box button {
  position: fixed;
  top: 80px;
  right: 0;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 1;
  background: none;
  border: none;
}

.posts-container .filter-sort-box-visible {
  display: block;
}

.filter-sort-box {
  position: fixed;
  top: 18%;
  z-index: 1;
  right: 10px;
  width: 150px;
  padding: 8px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-sort-box h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.filter-option {
  margin-bottom: 15px;
}

.filter-option label {
  text-align: left;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-option div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.filter-option input[type="checkbox"] {
  margin-right: 10px;
  margin-left: 20px;
}

.filter-option input[type="number"] {
  padding: 3px;
  width: 100px;
}


/* Container for all posts */
.posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  /* Space between cards */
}

.edit-post-button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-align: start;
  width: fit-content;
  margin: 0;
  padding: 0;
}

/* Container for each indiviudal post */
.post-card {
  position: relative;
  display: flex;
  flex-direction: row;
  width: calc(100%);
  gap: 1rem;
  padding: 10px 20px 10px 20px;
  margin: 0;
  text-align: left;
}

/* Line between posts */
.post-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, black, transparent);
}

.post-details {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 500px;
  justify-content: space-between;
}

.post-username {
  color: #000000be;
}

.post-pet-name {
  color: black;
  font-size: 24px;
}

.status-missing span {
  position: absolute;
  background-color: var(--status-bubble-missing-color);
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 14px;
  margin: 2px 0 0 5px;
}

.status-found span {
  position: absolute;
  background-color: var(--status-bubble-found-color);
  border-radius: 20px;
  padding: 4px 8px;
  font-size: 14px;
  margin: 2px 0 0 5px;
}

.post-info {
  font-size: 18px;
}

.post-description {
  font-size: 1.1em;
  position: relative;
  padding: 10px 0;
  margin: 1rem 0 0 0;
}

.likes-and-comments {
  display: flex;
  margin-top: auto;
  gap: 1.3rem;
}

.like-button,
.comment-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.like-button span {
  font-size: 28px;
  margin: 0;
  padding: 0;
  color: var(--like-icon-color);
}

/* Styles for clicking the heart/like button */
.liked span {
  color: var(--like-icon-liked-color);
}

.heart-icon {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.like-button.liked .heart-icon {
  animation: growShrink 0.4s ease-in-out;
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.comment-button span {
  font-size: 28px;
  color: var(--comment-icon-color);
}

.comment-button span:hover {
  color: var(--comment-icon-hover-color);
}

.post-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0.5rem 0;
  align-items: flex-start;
}

.post-image {
  max-width: 250px;
  height: auto;
  border: solid 1px black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

/* Comment section styling */
.comments-section {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  margin: 10px 0 40px 0;
}

.comments-section h3 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333;
}

.comment {
  overflow-wrap: break-word;
  position: relative;
  display: flex;
  width: 800px;
  flex-direction: column;
  border: 1px solid var(--comment-border-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--comment-background-color);
  margin-bottom: 1rem;
}

.comment-header {
  text-align: start;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: var(--post-sub-header-color);
  margin-bottom: 10px;
}

.comment p {
  margin: 0 0 8px 0;
  line-height: 1.5;
  text-align: start;
  font-size: 1.1em;
}

.delete-comment-button {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  position: absolute;
  background: var(--like-icon-color);
  border: 1px solid var(--comment-border-color);
  width: 120px;
  padding: 5px;
  cursor: pointer;
  bottom: 10px;
  left: 101%;
}

.delete-comment-toggle {
  font-size: 1em;
  position: absolute;
  bottom: 2px;
  right: 5px;
  background: none;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin: 0;
  cursor: pointer;
  align-self: self-end;
}

/* Add Comment Section */
.add-comment {
  text-align: start;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  left: 0;
}

.add-comment span {
  color: var(--error-color);
}

.add-comment::after {
  content: "";
  left: 0;
  width: 1000px;
  height: 1px;
  background: linear-gradient(to right, black, transparent);
}

.add-comment textarea {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  width: 800px;
  height: 80px;
  border-radius: 2px;
  border: 1px solid var(--comment-border-color);
  padding: 5px;
  resize: none;
  font-size: 1em;
}

.add-comment textarea:focus {
  border-color: var(--focus-border-color);
  outline: none;
}

.add-comment button {
  font-family: Bahnschrift, Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 8px;
  margin: 5px 0 20px 0;
  width: max-content;
  height: min-content;
  padding: 5px;
  background-color: var(--add-comment-button-color);
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.add-comment button:hover {
  background-color: var(--add-comment-button-hover-color);
}


/* Delete user pop-up window */
.profile-actions {
  text-align: center;
  margin-top: 20px;
}

.delete-profile-button {
  background-color: #d9534f; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.delete-profile-button:hover {
  background-color: #c9302c;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-overlay .modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-error {
  color: red;
}

.modal-confirm-button {
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

.modal-confirm-button:hover {
  background-color: #c9302c;
}

.modal-cancel-button {
  background-color: #5bc0de; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-cancel-button:hover {
  background-color: #31b0d5;
}
